@page "/GrandezzaFisica/crea"
@using System.ComponentModel.DataAnnotations
@inject GrandezzaFisicaQuery grandezzaFisicaQuery
@using System
@using stazioneMeteoBlazor.AltriComponenti

<h2>Inserimento Grandezze fisiche</h2>

<Microsoft.AspNetCore.Components.Forms.EditForm Model="_grandezza" OnValidSubmit="Submit">
    <Microsoft.AspNetCore.Components.Forms.DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
    <label>
        Grandezza:
        <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="_grandezza.grandezzaFisica" />
    </label>
    <br />

    <label>
        Simbolo:
        <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="_grandezza.simbolo" />
    </label>
    <br />

    <label>
        Simbolo adottato:
        <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="_grandezza.simboloAdottato" />
    </label>
    <br />

    <label>
        Note:
        <Microsoft.AspNetCore.Components.Forms.InputText @bind-Value="_grandezza.note" />
    </label>
    <br />

    <button class="btn btn-success" type="submit">Inserisci</button>
</Microsoft.AspNetCore.Components.Forms.EditForm>

@if (finestra)
{
    <FinestraDati Titolo="Crea" Tabella="GrandezzaFisica" />
}

<br />
<a class="btn btn-primary" href="/GrandezzaFisica" role="button">Torna ale grandezze Fisiche</a>