@using stazioneMeteoBlazor.Pages

<div class="col text-center">
    <footer>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Realizzato da</h5>
                <p class="card-text">giuliano.manzi.stud@ispascalcomandini.it</p>
                <a href="/" class="btn btn-primary">Torna alla Home</a>
            </div>
        </div>
    </footer>
</div>