@page "/LinkCorrelati"

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Link correlati</h3>
        <ul class="list-unstyled">
            <li><a target="_blank" href="https://www.ispascalcomandini.it/" class="text-dark">Link correlato</a></li>
        </ul>
    </div>
</div>

@*Lo avevo fatto usando un dictionary che restituiva i link a seconda della pagina visualizzata, ma per via della
    quantità elevata di pagine ho lasciato un link statico *@