@page "/Anemometro"

<div class="card text-center">
    <h3 class="card-title">Anemometro</h3>
    <div class="card-body">
        <p class="card-text">L'anemometro è uno strumento di misura utilizzato in meteorologia per la misurazione della velocità o pressione del vento.</p>
        <p class="card-text"><img src="images/anemometro.jpg" class="img-fluid">
        </p>
    </div>
</div>