@page "/Banderuola"

<div class="card text-center">
    <h3 class="card-title">Banderuola</h3>
    <div class="card-body">
        <p class="card-text">La banderuola, o segnavento, è un tipo di anemoscopio cioè uno strumento che serve ad indicare la presenza e la direzione del vento.</p>
        <p class="card-text"><img src="images/banderuola.jpg" class="img-fluid">
        </p>
    </div>
</div>