@page "/Pluviometro"

<div class="card text-center">
    <h3 class="card-title">Pluviometro</h3>
    <div class="card-body">
        <p class="card-text">Il pluviometro è lo strumento utilizzato per misurare la quantità di pioggia caduta. Esso fa parte della dotazione di strumenti principali di una comune stazione meteorologica.</p>
        <p class="card-text"><img src="images/pluviometro.jpg" class="img-fluid">
        </p>
    </div>
</div>