@page "/Webcam"

<div class="card text-center">
    <h3 class="card-title">Webcam</h3>
    <div class="card-body">
        <p class="card-text">Il Modulo video Pi Camera HD v2.1 è basato sul sensore video Sony IMX219 da 8Mp, permette di acquisire video e fotografie in alta definizione; questo sensore ha una risoluzione di 8Mp (3280 x 2464pixel) con lente a focale fissa e supporta gli standard video 1080p30 e 720p60 e VGA90.</p>
        <p class="card-text"><img src="images/webcam.jpg" class="img-fluid">
        </p>
    </div>
</div>