@page "/SensoriInstallati/elimina/{id}"
@using stazioneMeteoBlazor.Pages
@using System.ComponentModel.DataAnnotations
@inject SensoriInstallatiQuery sensoriInstallatiQuery
@inject NavigationManager NavigationManager
@using stazioneMeteoBlazor.AltriComponenti

<h2>Elimina installazioni</h2>

<dl class="row">
    <dt class="col-sm-2">Sensore</dt>
    <dd class="col-sm-10">@_installazione.Sensore</dd>
    <dt class="col-sm-2">Stazione</dt>
    <dd class="col-sm-10">@_installazione.Stazione</dd>
</dl>

<button class="btn btn-danger" @onclick="EliminaRecord">Elimina</button>
<br />

@if (finestra)
{
    <FinestraDati Titolo="Elimina" Tabella="SensoriInstallati" />
}

<a class="btn btn-primary" href="/SensoriInstallati" role="button">Torna alle installazioni</a>

@code
{
    [Parameter]
    public string id { get; set; }
}