@page "/BatteriaUps"

<div class="card text-center">
    <h3 class="card-title">Batteria Ups</h3>
    <div class="card-body">
        <p class="card-text">All'interno del gruppo ups si trovano delle batterie che, tramite un sistema elettronico di conversione, immagazzinano e forniscono la tensione idonea ad alimentare i carichi dei dispositivi collegati. Questa tensione viene naturalmente garantita fino al momento in cui non si scaricano anche le batterie.</p>
        <p class="card-text"><img src="images/batteriaups.jpg" class="img-fluid">
        </p>
    </div>
</div>