@page "/ComponentiElettronici"

<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Scatola che contiene i componenti eletronici fondamentali al funzionamento della stazione meteo</h3>
        <p class="card-text"><img src="images/componenti.jpg" class="img-fluid" alt="Workplace" height="700" width="700"></p>
    </div>
</div>