@page "/ProtezioneSensori"

<div class="card text-center">
    <h3 class="card-title">Protezione sensori</h3>
    <div class="card-body">
        <p class="card-text">Protezione per i sensori igrometro (misura l'umidità relativa dell'aria) e termometro (misura la temperatura). </p>
        <p class="card-text"><img src="images/protezionesensori.jpg" class="img-fluid">
        </p>
    </div>
</div>