@page "/Raspberry"

<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Raspberry Pi</h3>
        <p class="card-text">
            Il Raspberry Pi è un computer a scheda singola sviluppato nel Regno Unito dalla Raspberry Pi Foundation.
            La scheda è stata progettata per ospitare sistemi operativi basati sul kernel Linux o RISC OS.
        </p>
        <p class="card-text">
            <img src="images/raspberry.jpg" class="img-fluid">
        </p>
    </div>
</div>
