@page "/StabilizzatoreDiTensione"

<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Stabilizzatore di tensione</h3>
        <p class="card-text">Dispositivo che trasforma gli alti e i bassi del segnale in uno continuo così da avere un segnale pulito. </p>
        <p class="card-text"><img src="images/stabilizzatoreditensione.jpg" class="img-fluid">
        </p>
    </div>
</div>