@page "/Stabilizzatori"

<div class="card text-center">
    <h3 class="card-title">Stabilizzatore</h3>
    <div class="card-body">
        <p class="card-text">Alimentatore per Breadboard: riceve in ingresso la tensione dalla porta USB oppure da jack esterno nel range 6.5-12V e fornisce in uscita una tensione regolata selezionabile fra 5V e 3.3V (corrente max. 700mA).</p>
        <p class="card-text"><img src="images/stabilizzatore.jpg" class="img-fluid">
        </p>
    </div>
</div>