@page "/Ups"

<div class="card text-center">
    <h3 class="card-title">Ups</h3>
    <div class="card-body">
        <p class="card-text">La sigla UPS significa "Uninterruptible Power Supply" ed è tradotta in italiano come Gruppo di Continuità. Il Gruppo di Continuità è una apparecchiatura che viene posta fra la rete di alimentazione ed i dispositivi da proteggere, allo scopo di fornire energia alle apparecchiature anche in mancanza di energia elettrica.</p>
        <p class="card-text"><img src="images/ups.jpg" class="img-fluid">
        </p>
    </div>
</div>