@page "/ChiSiamo"

<div class="card text-center">
    <h1 class="card-title">Chi siamo</h1>
    <div class="card-body">
        <p class="card-text"><img src="images/fotoStudenti.jpg" class="img-fluid"></p>
        <p class="card-text fst-italic">
            Siamo gli studenti dell'ITT Pascal-Comandini di Cesena e ci siamo occupati della realizzazione di questo sito web. La stazione <br>
            metereolgica invece è stata ideata ed assemblata dal professor Nevio Lombardi, il nostro insegnante di laboratorio. Su questo <br>
            sito potrete esplorare com'è fatta la stazione metereologica analizzandone i vari componenti tramite la pagina "<a href="/SistemaMetereologico" class="link-underline-opacity-0 link-underline-opacity-75-hover">Sistema metereologico</a>". <br>
            Potrete inoltre consultare le rilevazioni costantemente aggiornate della stazione metereologica tramite la pagina "<a href="/Rilevazioni" class="link-underline-opacity-0 link-underline-opacity-75-hover">Rilevazioni</a>". <br>
            Grazie per la visita, enjoy your stay!
        </p>
    </div>
</div>
