@page "/"

<section>
    <div class="card text-center">
        <h1 class="card-title">Sistema metereologico</h1>
        <div class="card-body">
            <h3 class="card-title">Pagina web ufficiale del sistema di rilevamento metereologico dell'ITT Pascal, esplora il nostro sito per scoprire tutte le funzioni.</h3>
            <p class="card-text"><img src="images/fotoScuola.jpg" class="img-fluid"></p>
        </div>
    </div>
</section>
