@page "/SistemaMetereologico"

<div class="card text-center">
    <h1 class="card-title">Sistema meterologico</h1>
    <div class="card-body">
        <h3 class="card-title">Ecco una foto della nostra stazione meteo</h3>
        <p class="card-text">
            <img src="images/StazioneMeteo1.png" class="img-fluid" alt="Workplace" usemap="#mappa" height="700" width="700">
        </p>
    </div>
</div>