@page "/PièDiPagina"

<footer class="col-12 bg-light p-3 text-center">
    <p class="mb-1">Creato da .....</p>
    <p class="mb-1">Tutti i diritti riservati.</p>
    @* Inserire la chiocciola due volte nelle stringhe per ogni volta che deve comparire. *@
    <p>Contattami a <a href="mailto:giuliano.manzi.stud@ispascalcomandini.it">giuliano.manzi.stud@ispascalcomandini.it</a></p>
</footer>