@page "/Ricerca"
@inherits Classi.Classi

<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputRicerca">Cerca:</label>
                <input type="text" class="form-control" id="inputRicerca" @bind="testoRicerca" />
            </div>
        </div>
    </div>