@page "/Encoder"

<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Encoder</h3>
        <p class="card-text">Contiene gli Encoder incrementale e assoluto</p>
        <p class="card-text"><img src="images/encoder.jpg" class="img-fluid">
        </p>
    </div>
</div>