@page "/EncoderIncrementale"

<div class="card text-center">
    <h3 class="card-title">Encoder Incrementale</h3>
    <div class="card-body">
        <p class="card-text">L’encoder di tipo incrementale, è così definito in quanto segnala gli incrementi (variazioni) rispetto ad una posizione assunta come riferimento, indipendentemente dal verso di rotazione. L’encoder incrementale è adatto a rilevare rotazioni, velocità ed accelerazioni basandosi sul conteggio degli impulsi inviati dal sensore all'elettronica in uscita, ma richiede lo zero macchina ad ogni nuovo avvio. L’encoder incrementale può avere una codifica a 3 canali (A, B, Z) o con fasi di commutazione integrate (effetto Hall).</p>
        <p class="card-text"><img src="images/encoder incrementale.jpg" class="img-fluid">
        </p>
    </div>
</div>