@page "/EncoderAssoluto"

<div class="card text-center">
    <h3 class="card-title">Encoder Assoluto</h3>
    <div class="card-body">
        <p class="card-text">L'encoder di tipo assoluto fornisce un valore numerico codificato in maniera univoca per ogni posizione meccanica dell'albero, memorizzando il valore della posizione corrente ed evitando così la perdita di informazioni in caso di riavvio del macchinario o di interruzione dell'alimentazione.</p>
        <p class="card-text"><img src="images/encoder assoluto.jpg" class="img-fluid">
        </p>
    </div>
</div>